<mat-card class="m-2">
  <mat-card-content>
    <div class="row">
      <div class="col-md-5">
        <div class="imgcontainer">
          <img [src]="prodObj.images" [alt]="prodObj.title" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="info">
          <p>
            Categories: <b class="text-info">{{ prodObj.category }}</b>
          </p>
          <h2>{{ prodObj.title }}</h2>
          <ul
            class="rating"
            [ngStyle]="{
              color: fillWidth()
            }"
          >
            <li><mat-icon>star</mat-icon></li>
            <li><mat-icon>star</mat-icon></li>
            <li><mat-icon>star</mat-icon></li>
            <li><mat-icon>star</mat-icon></li>
            <li><mat-icon>star</mat-icon></li>
          </ul>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
